<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Exercício 1 - Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Digite o valor da temperatura" labelPlacement="floating" placeholder="apenas números"></ion-input>
    <ion-select label="Unidade" label-placement="fixed" placeholder="">
      <ion-select-option value="celsius">Celsius</ion-select-option>
      <ion-select-option value="fahrenheit">Fahrenheit</ion-select-option>
    </ion-select>
    <ion-button color="warning">Calcular</ion-button>
</ion-content>
