<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Exercício 1 - AC01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input label="Digite o valor da temperatura" labelPlacement="floating" placeholder="apenas números" [(ngModel)]="temperatura"></ion-input>
    <ion-select label="Unidade" label-placement="fixed" [(ngModel)]="escolha">
      <ion-select-option value="celsius">Celsius -> Fahrenheit</ion-select-option>
      <ion-select-option value="fahrenheit">Fahrenheit -> Celsius</ion-select-option>
    </ion-select>
    <ion-button color="warning" (click)="temp()">Calcular</ion-button>

    <ion-item-divider>
          <ion-label style="color: black;"><strong>{{resultado}}</strong></ion-label>
    </ion-item-divider>
</ion-content>
